---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Dimensions
$max-content-width: {{ site.max_width }};

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill",
  "cv",
  "tabs",
  "typograms",
  "font-awesome/fontawesome",
  "font-awesome/brands",
  "font-awesome/solid",
  "font-awesome/regular",
  "tabler-icons/tabler-icons.scss",
  "tabler-icons/tabler-icons-filled.scss",
  "tabler-icons/tabler-icons-outline.scss"
;


// =======================
// Custom overrides
// =======================

/* 控制头像下面的社交图标大小 */
.social .contact-icons a i,
.social .contact-icons a svg {
  font-size: 30px;   // 修改图标大小（默认可能 30px）
  width: 20px;
  height: 20px;
  margin: 0 10px;     // 控制间距
}

/* 鼠标悬停效果 */
.social .contact-icons a:hover {
  transform: scale(1.2);
  color: #003057; // 鼠标悬停时的颜色
  transition: all 0.2s ease-in-out;
}

/* 强化年份标题颜色 */
h2.bibliography {
  color: black !important;     /* 深灰或黑色 */
  // font-weight: bold;          /* 加粗 */
  opacity: 1 !important;      /* 去掉淡化 */
  margin-top: 2rem;           /* 适当增加与上一组的间距 */
}

/* chip gallery badge 跟随主题色 */
.badge-secondary {
  background-color: var(--global-theme-color);
  color: #fff;
}